### strings const

In [1]:
st = 'himasri chinnapurapu'   #finding position of pu
st.find('pu')

14

In [2]:
st ='hello world'
print(st.find('l'))

2

In [3]:
st = 'himasri chinnapurapu' #in btw 7 to 16
st.find('ch',7,16)

8

In [4]:
st = 'himasri'
a=st.find('a',1,5)
print(a)

3

In [5]:
st = 'himasri'
st.find('k')           #if that word not there it show -1 as output

-1

In [6]:
st = 'hima'
st.find('B',1,5)

-1

### strip function

In [7]:

st =' heloo '            # it removes the places at the starting palce
st1=st.strip()
print(st)
print(st1)

 heloo
heloo

In [8]:
st ='%$#@HIMA@SRI@#$%^'
st1=st.strip('@#$%^')        #here it will remove the data what we gave from the first and last of line
print(st)
print(st1)

%$#@HIMA@SRI@#$%^
HIMA@SRI

In [9]:
st ='fgh78fgh'
st1=st.strip('fgh')
print(st)
print(st1)

fgh78fgh
78

In [10]:
st ='@@hima$$@'
st1=st.lstrip('@')
print(st1)

hima$$@

In [11]:
st = '@@hima&&'
st1=st.rstrip('&')
print(st1)

@@hima

In [12]:
s1 ='hello hi how are you?'  # replace string
s2=s1.replace('how','hi')
print(s1)
print(s2)

hello hi how are you?
hello hi hi are you?

In [13]:
st='himasri chinnapurapu' #startswith    it tell the index position and also any position by conforming bye boolean value
st.startswith('h')

True

In [14]:
st='hima sri'               # it's is  a case sensitive
st.startswith('sri',5)

True

In [15]:
st='abc de hs je'
st.startswith('de hs',4,10)

True

In [16]:
### Bulit in methods strings

In [17]:
str.capitalize("hello world") # it will capitalize on starting letter

'Hello world'

In [18]:
st="hello"
st1= st.upper()
print(st1)
print(st)

HELLO
hello

In [19]:
st="Hello"                      #alternativy

st.lower().startswith('he')

True

In [20]:
st="Hello"
st.startswith("he")
st.lower().startswith('He')

False

In [21]:
st="Hello"
st.upper()

'HELLO'

In [22]:
st="Hello"

st.upper().startswith("he")

False

In [23]:
st="hello"        #it's tell the how many times it cames...count of the letter or word any thing
st.count('o')

1

In [24]:
mystring="siruseri"
len(mystring)

8

In [25]:
def mystery(s):
    for i in range(len(s),1,-2):
        s = s[1:] + s [0]
    return(s)
mystring="siruseri"
mystery=mystery(mystring)
print(mystery)

serisiru

## list

In [26]:
ls2=[10,4,'hello',['hello', 'world'],'hi']
print(ls2[3])

['hello', 'world']

In [27]:
ls3=[2,]
ls3

[2]

In [28]:
print(type(ls3))

<class 'list'>

In [29]:
print(ls2[3][1])

world

In [30]:
print(ls2[3][1][2])

r

In [31]:
ls=[]                  #empty list
ls1=print(type(ls))

<class 'list'>

In [32]:
ls=list()
ls4=print(type(ls))

<class 'list'>

In [33]:
ls5=[2.5,3,'hi',['hello',['how',['are']]]]       #find r
print(ls5[3][1][1][0][1])

r

In [34]:
ls6=[3,5,'hello','hi',['hello',['hima',['sri']]]]            #find in sri 'i'
print(ls6[4][1][1][0][2])

i

In [35]:
# list range
ls=list(range(1,11))
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
ls=list(range(1,50,3))
ls

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [37]:
# concatenation of list using +
ls1=[1,2,-4,3.4]
ls2=['hi','hello']
ls3=ls1+ls2
print(ls3)

[1, 2, -4, 3.4, 'hi', 'hello']

In [38]:
# repetition 
ls=[1,2,3]
ls2 = ls*3
ls2

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [39]:
for i in ls2:
    print(i)

1
2
3
1
2
3
1
2
3

In [40]:
x=int(input("enter any number"))
ls=[]
for i in range(1,11):
     ls = ls + [x*i]
print(ls)

enter any number3
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [41]:
# list slicing
t=['a','b','c','d','e']     # its take the index values and one more thing is last value takes before index value
print(t[2:4])
print(t[2:3])
print(t[1:3])
print(t[1:3])
print(t[1:3])
print(t[1:3])

['c', 'd']
['c']
['b', 'c']
['b', 'c']
['b', 'c']
['b', 'c']

In [42]:
# list are MUTABLE
t=['a','b','c','d','e']
t[3]=10
print(t)

['a', 'b', 'c', 10, 'e']

In [43]:
t=['a','b','c','d','e','f']
t[3:5]=[10,11,3]
print(t)

['a', 'b', 'c', 10, 11, 3, 'f']

In [44]:
ls=[23,4,5,'hi',35]
for i in ls:
    print(i)

23
4
5
hi
35

In [45]:
for i in range(len(ls)):
    print(ls[i])

23
4
5
hi
35

## bulit in list functions

#### 
- append()
- extend()
- sort()
- pop()
- reverse()
- remove()
- clear()
- count()
- insert() 
- #### few more methods/statements
- sorted
- def

In [46]:
# append
ls1=[1,2,3]
ls1.append(4)
print(ls1)

[1, 2, 3, 4]

In [47]:
ls1=[1,2,3,4,5]
ls2=[3,4,5,6,'string']
ls2.append(ls1) # if we take multiple element
print(ls2)

[3, 4, 5, 6, 'string', [1, 2, 3, 4, 5]]

In [48]:
# extend
ls1=[1,2,3,4,5]
ls2=[3,4,5,6,'string']
ls2.extend(ls1) 
print(ls2)

[3, 4, 5, 6, 'string', 1, 2, 3, 4, 5]

In [49]:
# sort
ls=[2,6,2,1,8,6,0,95,4]   # sorting a list in ascending order
ls.sort()
print(ls)

[0, 1, 2, 2, 4, 6, 6, 8, 95]

In [50]:
ls=[3,2,6,4,7,88,9,765,234,1]
ls.sort(reverse=True)
print(ls)

[765, 234, 88, 9, 7, 6, 4, 3, 2, 1]

In [51]:
#sorted
ls=[4,5,7,23,8,4,9,11,53]
ls1=sorted(ls)
print("sorted list",ls1)
print("original list",ls)

sorted list [4, 4, 5, 7, 8, 9, 11, 23, 53]
original list [4, 5, 7, 23, 8, 4, 9, 11, 53]

In [52]:
ls2=sorted(ls,reverse=True)
print("Ascending",ls1)
print("Descending",ls2)
print("original list",ls)

Ascending [4, 4, 5, 7, 8, 9, 11, 23, 53]
Descending [53, 23, 11, 9, 8, 7, 5, 4, 4]
original list [4, 5, 7, 23, 8, 4, 9, 11, 53]

In [53]:
# pop                        it is like linked list
ls=[3,5,2,5,4,32,6,7,8,22]
x=ls.pop()                      # last element will be pop up,default
print(ls)

[3, 5, 2, 5, 4, 32, 6, 7, 8]

In [54]:
ls1=[3,5,2,6,8,45,3,7,2]
x=ls1.pop(4)                  # given indexed element will be delete
print(ls1)

[3, 5, 2, 6, 45, 3, 7, 2]

In [55]:
ls2=[2,4,2,6,7,3,245,12,67]
x=ls2.remove(2)              # delete a requried element using remove() 
print(ls2)

[4, 2, 6, 7, 3, 245, 12, 67]

In [56]:
ls3=[2,3,5,6,45,7,4]
del ls3[2]                     # it remove the  index
print(ls3)

[2, 3, 6, 45, 7, 4]

In [57]:
ls3=[2,3,5,6,45]
ls3.reverse()     
print(ls3)

[45, 6, 5, 3, 2]

In [58]:
ls4=[3,3,532,2,6]    # clear function
ls4.clear()
print(ls4)

[]

In [59]:
ls5=[1,3,2,5,6,4,-12,2,2,4,4,5,5]
x=ls5.count(5)                        # counting 
print(x)

3

In [60]:
ls5=[1,3,2,5,6,4,-12,2,2,4,4,5,5]
ls5.insert(7,64)                        # inserting ask
print(ls5)

[1, 3, 2, 5, 6, 4, -12, 64, 2, 2, 4, 4, 5, 5]

In [61]:
#eg 1
n=int(input("enter a number :"))
a=[]
s=0
sumsq=5
for i in range (0,n):
    x=int(input("enter the number :"))
    s=s+x
    sumsq=sumsq + x*x
average = s/n
print(average)

enter a number :3
enter the number :2
enter the number :4
enter the number :5
3.6666666666666665

#### split function

In [62]:
s='hello'
s[0:2]

'he'

In [63]:
st="hello world"
print("st[0:5] is", st[0:5])
print("st[2:5] is", st[2:5]) 
print("st[:5] is", st[:5])
print("st[6:5] is", st[6:5])

st[0:5] is hello
st[2:5] is llo
st[:5] is hello
st[6:5] is

In [64]:
               
s = "hello how are you?"
ls=s.split(' ')     #getting list of strings from a sentence
print(ls)

['hello', 'how', 'are', 'you?']

In [65]:
d='06/02/1996'                    # for date
ls=d.split('/')
print(ls)

['06', '02', '1996']

In [66]:
s='hello how are you'
ls=s.split('h')          #string to split
print(ls)

['', 'ello ', 'ow are you']

In [67]:
ls=['hello','how','are','you']
s='##'
s1=s.join(ls)
print(s1)

hello##how##are##you

In [68]:
# eg 2
s=input("enter a string  :")
if len(s)<2:
    print(s)
else:    
    print(s[:2]+s[-2:])

enter a string  :hello
helo

In [69]:
# eg 4...print even number for string
s=input("enter the string  :")
print(s[0::2])

enter the string  :hihello
hhlo

In [70]:
# eg 3...without spaces
str="hello how are you?"
print(str)
print(str.replace(' ',''))

hello how are you?
hellohowareyou?

In [71]:
# eg 5
s=input("enter a string :")
s1=s[-1]+s[1:-1]+s[0]
print(s1)

enter a string :himasri
iimasrh

### list

In [72]:

x=10                    #id of y is same as that of x,because values are same
id(ls1)                   # That is,y is just an alis for x

1899497197320

In [73]:
y=x
id(ls2)

1899496576648

In [74]:
y=15                         # when value get changed automatically get changed by python
id(y)

140731733546240

In [75]:
ls1=[1,2,3,4]
ls2=ls1
print(ls2)

[1, 2, 3, 4]

In [76]:
id(ls1)

1899496721352

In [77]:
id(ls2)

1899496721352

In [78]:
ls1[2]=500
print(ls1)

[1, 2, 500, 4]

In [79]:
ls1=[1,2,3,4,5]
ls2=ls1.copy()
print(ls2)

[1, 2, 3, 4, 5]

In [80]:
id(ls1)

1899497162312

In [81]:
id(ls2)

1899497402504

In [82]:
ls1[2]=20
print(ls1)
print(ls2)

[1, 2, 20, 4, 5]
[1, 2, 3, 4, 5]

In [83]:
ls2[2]=15
print(ls2)
print(ls1)

[1, 2, 15, 4, 5]
[1, 2, 20, 4, 5]

In [84]:
ls1=[1,2,[3,4],5]
ls2=ls1.copy()
print(ls2)

[1, 2, [3, 4], 5]

In [85]:
ls1[2][0]=12
print(ls1)

[1, 2, [12, 4], 5]

In [86]:
s="From hima@iee.org wed feb 21 09:14:16 2018"
ls=s.split(" ")[1]                                    # exract domian in line hima@iee.org
domain=ls.split(" ")[0]
print(domain)
print(ls)

hima@iee.org
hima@iee.org

In [87]:
s1="From hima@iee.org wed feb 21 09:14:16 2018"
ls=s1[5:]
ls

'hima@iee.org wed feb 21 09:14:16 2018'