## Tuples

In [1]:
k=()
print(type(k))

<class 'tuple'>

In [2]:
t1=tuple()
print(type(t1))

<class 'tuple'>

In [3]:
t=(12,9,0)
print(t)

(12, 9, 0)

In [4]:
t2=('himasri')
print(t2)

himasri

In [5]:
# create tuple with single element
t3=(3)                     
print(type(t3))             # will be treated as integre

<class 'int'>

In [6]:
t =(3,)                                                    # tuple with single element
print(type(t))
print(t)

<class 'tuple'>
(3,)

In [7]:
t=1,2,3
print(type(t))                                            # parameters are not necessary
print(t)

<class 'tuple'>
(1, 2, 3)

In [8]:
s='HELOO'                                                     # creating tuple using string
t=tuple(s)
print(t)

('H', 'E', 'L', 'O', 'O')

In [9]:
ls=[1,2,3,4]                                                  #creating tuple using list
t=tuple(ls)
print(t)

(1, 2, 3, 4)

In [10]:
t='hi','hello','hima'                                         # indexing and slicing on tuples
print(t[1])
print(t[1:])
print(t[-1])
print(t[0])

hello
('hello', 'hima')
hima
hi

In [11]:
                                                              #as tuples are immutable,one cannot alter its contents
                                                              # Insted,we can slice and create new tuple
t=('hii','heloo','how')
t[0]='hima'                   # it will error
print(t)

TypeError: 'tuple' object does not support item assignment

####  Assignment tuples

In [12]:
x,y,z,p=10,15,16,'hima'
print(x)
print(y)
print(z)
print(p)

10
15
16
hima

In [13]:
a=10                 # swapping of two numbers
b=20
a,b=b,a
print(a,b)

20 10

In [14]:
x,y = 15,18,20         #excess value assignment
                     # it will give error

ValueError: too many values to unpack (expected 2)

### Dictionary
- def It is a collection of elements in the form of key:Value pair
- keys must be unique
- keys must be of immutable type: like strings,tuples,numbers
- empty dictionary we can create like d={ } or d=dict()
- in dictionary we cannot use numbers as indices,we use key only
- key must be in unique
- values are repeated, key are cannt be reapeated,if key is repeatd means they will overwrite
- dict

In [15]:
# creating a empty dictionary and adding items to it
d={}
d["Mango"]="Fruit"
d["Banana"]="Fruit"
d["Cucumbar"]="veg"
print(d)

{'Mango': 'Fruit', 'Banana': 'Fruit', 'Cucumbar': 'veg'}

In [16]:
# using th eexisting key again will over write previous value
d["Banana"]=55
print(d)

{'Mango': 'Fruit', 'Banana': 55, 'Cucumbar': 'veg'}

In [17]:
print(type(d))

<class 'dict'>

##### Built in methods
- list
- key
- value
- items
- in

In [18]:
tel_dir={'tom': 3645, 'jerry':4568, 'donald': 6787}
ls=list(tel_dir.keys())
print(ls)                                                           # keys

['tom', 'jerry', 'donald']

In [19]:
import pandas as pd
x=pd.Series(tel_dir)
x

tom       3645
jerry     4568
donald    6787
dtype: int64

In [20]:
v=list(tel_dir.values())
print(v)                                                            # values

[3645, 4568, 6787]

In [21]:
ls1=list(tel_dir.items())
ls1

[('tom', 3645), ('jerry', 4568), ('donald', 6787)]

In [22]:
items=list(tel_dir.items())                                         # items
print(items)

[('tom', 3645), ('jerry', 4568), ('donald', 6787)]

In [23]:
'tom' in tel_dir                                                    # find out any key we use "in"

True

In [24]:
ls1[0]=('mickey',5677)                                             # doubt
print(ls1)

[('mickey', 5677), ('jerry', 4568), ('donald', 6787)]

In [25]:
tel_dir

{'tom': 3645, 'jerry': 4568, 'donald': 6787}

In [26]:
                                                                         # using get() function
students={'Tom': 24, 'jerry':25, 'Donald':21}
print(students.get('jerry',8))                    #as 'jerry ' is there in dictionary,repective
print(students.get('mickey','null'))

25
null

In [27]:
'''write a program to read a string.Count numbers of occurrences of each char in the string.Use dictionary.
ex:input string is 'hello' Then output must be {'h':1,'e':1,'l':2,'o':1} '''

d={}
c=input('enter a string :')
for ch in c:
     d[ch]=d.get(ch,0)+1
print('final',d)

enter a string :heloo
final {'h': 1, 'e': 1, 'l': 1, 'o': 2}

In [28]:
for k,v in tel_dir.items():
    print('key is: ',k, 'value is: ',v)

key is:  tom value is:  3645
key is:  jerry value is:  4568
key is:  donald value is:  6787

In [31]:
txt='India is a great country. Karnataka is one of the state in India'
words=txt.split()
t = list()
for word in words:
      t.append((len(word),word))
t.sort(reverse=True)
res=list()
for length,word in t:
    res.append(word)
print('The sorted list:\n', res)

The sorted list:
 ['Karnataka', 'country.', 'state', 'great', 'India', 'India', 'the', 'one', 'of', 'is', 'is', 'in', 'a']

## Sets

In [32]:
st=set()
print(type(st))

<class 'set'>

In [33]:
# creating a simple set
st={'hi','hello','hima'}
print(st)

{'hello', 'hima', 'hi'}

In [34]:
# add element to set
st.add('sri')
print(st)

{'hello', 'sri', 'hima', 'hi'}

In [35]:
# remove element from set
st.remove('hello')
print(st)

{'sri', 'hima', 'hi'}

In [36]:
# adding more than one element at a time
st.update(['h','s'])
print(st)

{'s', 'hi', 'sri', 'hima', 'h'}

In [37]:
# sets will not allow duplicate of data elemets
st1={'hi','hello','hi','sri'}
print(st1)

{'hello', 'sri', 'hi'}

In [38]:
# write a program to eliminate repeated entries in a list and keep single copy of each element
ls=[1,2,3,4,5,61,2,3,7,8,9,4,11,41]
ls1=list(set(ls))
print(ls1)

[1, 2, 3, 4, 5, 7, 8, 9, 41, 11, 61]

### Lambda functions
- Functions without name
- simple functions where the task to be carried out is small
- can take arguments

In [39]:
# simple example of lambda function
x=lambda a:a+10
print(x(5))

15

In [40]:
x=lambda a:a+10
y=lambda b:b+20
z=lambda c:c+15
print(x(5))
print(y(10))
print(z(30))

15
30
45

In [41]:
# lambda functionwith two arguments
x=lambda a, b: a*b
print(x(7,8))

56

#### filter

In [42]:
# print odd numbers
ls=[2,2,23,4,5,56,43,3,6,5,3,6,8,2,4]
final_list = list(filter(lambda x:(x%2 !=0),ls))
print(final_list)

[23, 5, 43, 3, 5, 3]

In [ ]:
# evtract the words from a string which are startig with 'h'
x=input('enter the string: ')
s=x.split(' ')
print(s)
s1=list(filter(lambda x:x.startswith('h'),s))
print(s1)

###### lambda function with MAP()

In [ ]:
ls = [2,4,623,6,8,3,9,6,4]
final_list = list(map(lambda x:x*2,ls))
print(final_list)

In [ ]:
ls = [2,4,623,6,8,3,9,6,4]
avg=sum(ls)/len(ls)
dev = list(map(lambda x:(x-avg)**2,ls))
print(dev)
var=sum(dev)/len(ls)
print(var)

####### lambda function with reduce()

In [ ]:
from functools import reduce

In [ ]:
ls=[2,3,4,5,1,2,7,6,87]
total=reduce((lambda x,y: x+y),ls)
print(total)

In [ ]:
ls=[2,3,4,5,1,2,7,6,87]
total=reduce((lambda x,y: x*y),ls)
print(total)

In [ ]:
ls=['Hi','Hello','Hima','sri']
s = reduce((lambda x,y:x+y),ls)
print(s)

In [ ]:
d={}
h=(input('enter a number :'))
for n in h:
     d[n]=d.get(n,0)+1
print('final',d)

In [ ]:
# quiz ex1
data=[[[1,2],[3,4]],[[5,6],[7,8]]]
def fun(m):
    v = m[0][0]
    for row in m:
        for element in row:
            if v < element:
                v = element
    return v
print(fun(data[0]))

In [ ]:
## ex
arr=[[1,2,3,4],[4,5,6,7],[8,9,10,11],[12,13,14,15]]
for i in range(0,4):
    print(arr[i].pop())

In [ ]:
x=input()
N=int(input())
ls=[]
for i in range(N):
    ls.append(input())
flag=0
for i in range(N):
    if x==ls[i]:
        flag=1
        break

In [ ]:
tel_dir={'tom': 3645, 'jerry':4568, 'donald': 6787}
ls=list(tel_dir.keys())
ls.sort()
for k in ls:
    x=k,tel_dir[k]
    print(x)

In [ ]:
import pandas as pd

x1 = pd.Series(x)

In [ ]:
print(x1)